<form [formGroup]="aform" (ngSubmit)="onSubmit()" *ngIf="aform">
    <div class="row ps-3 pe-3 pt-3 pb-1">
        
            <!-- <form> -->
            <div class="col-md-6">

                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">อีเมล์</label>
                    <div class="col-sm-6"> <label for="colFormLabelSm" class="col-form-label-sm">{{loginUser.email}}</label></div>
                </div>  

                <div class="row mb-3" *ngIf="loginUser.provider == 'WEB'">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">รหัสผ่านเดิม</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control form-control-sm" placeholder="รหัสผ่านเดิม" formControlName="old_password"
                        [class.is-invalid]="(aform.get('old_password')?.invalid && (aform.get('old_password')?.dirty || aform.get('old_password')?.touched))"
                        [class.is-valid]="(aform.get('old_password')?.valid && (aform.get('old_password')?.dirty || aform.get('old_password')?.touched))">
                        
                        <div *ngIf="aform.get('old_password')?.invalid && (aform.get('old_password')?.dirty || aform.get('old_password')?.touched)">
                            <small class="message-error m-2" *ngIf="aform.get('old_password')?.hasError('required')">ห้ามว่าง</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">รหัสผ่านใหม่</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control form-control-sm" placeholder="รหัสผ่านใหม่" formControlName="users_password"
                        [class.is-invalid]="(aform.get('users_password')?.invalid && (aform.get('users_password')?.dirty || aform.get('users_password')?.touched))"
                        [class.is-valid]="(aform.get('users_password')?.valid && (aform.get('users_password')?.dirty || aform.get('users_password')?.touched))">
                        
                        <div *ngIf="aform.get('users_password')?.invalid && (aform.get('users_password')?.dirty || aform.get('users_password')?.touched)">
                            <div *ngIf="aform.get('users_password')?.hasError('required')"><small class="message-error m-2">ห้ามว่าง</small></div>
                            <div *ngIf="aform.get('users_password')?.hasError('minlength')"><small class="message-error m-2">รหัสผ่านต้องมี 4 ตัวอักษรขึ้นไป</small></div>
                            <div *ngIf="aform.get('users_password')?.hasError('maxlength')"><small class="message-error m-2">รหัสผ่านต้องไม่เกิน 12 ตัวอักษร</small></div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">ยืนยันรหัสผ่าน</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control form-control-sm" placeholder="ยืนยันรหัสผ่าน" formControlName="users_password_confirm"
           
                        [class.is-invalid]="((aform.get('users_password_confirm')?.invalid || aform.errors?.['passwordMatchError']) && (aform.get('users_password_confirm')?.dirty || aform.get('users_password_confirm')?.touched))"
                        [class.is-valid]="((aform.get('users_password_confirm')?.valid || !aform.errors?.['passwordMatchError']) && (aform.get('users_password_confirm')?.dirty || aform.get('users_password_confirm')?.touched))"
                        >
                        
                        <div *ngIf="((aform.get('users_password_confirm')?.dirty || aform.get('users_password_confirm')?.touched))">
                            <div *ngIf="(aform.errors?.['passwordMatchError'])"><small class="message-error m-2">รหัสผ่าน กับ ยืนยันรหัสผ่าน ไม่ตรงกัน</small></div>
                            <div *ngIf="aform.get('users_password_confirm')?.hasError('required')"><small class="message-error m-2" >ห้ามว่าง</small></div>
                        </div> 
                    </div>
                </div>                
                                
            </div>
            <div class="col-md-12 p-1">
                <label class="col-sm-2"></label>
                <!-- <input type="hidden" formControlName="users_id">
                <input type="hidden" formControlName="users_usersname"> -->
                <button type="submit" class="btn btn-sm btn-primary ps-4 pe-4 ms-2" [disabled]="aform.invalid">แก้ไข</button>
            </div>
       
    </div>
     </form>