<app-header></app-header>

<div class="nav-scroller" style="text-align: right;">
    <div class="text text-secondary text-small"><small><i class="fa-regular fa-user"></i> {{loginUser.email}} <i class="fa-regular fa-circle-check"></i> {{loginUser.role}}</small></div>
</div>

<main class="container-fluid">
    <div class="p-3 bg-body-tertiary">
        <!-- // -->
        <h5><strong>Home / งานขยาย</strong></h5>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm table-striped">
                        <thead class="table-secondary">
                            <tr class="text-center">
                                <th colspan="9">Request งานขยาย โดย MKT</th>
                                <th colspan="2">Plan งานขยาย</th>
                                <th colspan="9">Progress</th>
                            </tr>                                                      
                            <tr class="text-center">
                              <th scope="col" rowspan="2">เลขที่ ODN</th>
                              <th scope="col" rowspan="2">AIS/3BB</th>

                              <th scope="col" rowspan="2">วันที่บันทึก</th>
                              <th scope="col" rowspan="2">ผู้บันทึก</th>
                              <th scope="col" rowspan="2">สถานที่</th>
                              <th scope="col" rowspan="2">จังหวัด</th>
                              <th scope="col" rowspan="2">พิกัดจุดขยาย</th>
                              <th scope="col" rowspan="2">ขายได้</th>
                              <th scope="col" rowspan="2">โอกาศขาย</th>

                              <th scope="col" rowspan="2">Plan ระยะ OFC<br>(เมตร)</th>
                              <th scope="col" rowspan="2">ระยะคืนทุน<br>(เดือน)</th>

                              <th scope="col" colspan="2">บันทึกขออนุมัติ ODN</th>

                              <th scope="col" rowspan="2">Verify</th>

                              <th scope="col" colspan="2">Approve</th>
                              <th scope="col" colspan="3">ดำเนินการสร้าง</th>

                              <th scope="col" rowspan="2">สร้างเสร็จ<br>แจ้งขาย</th>
                            </tr>   
                            <tr class="text-center">
                                <th scope="col">บันทึก ODN</th>
                                <th scope="col">เลขที่ ODN</th>

                                <th scope="col">Approve</th>
                                <th scope="col">วันที่คาดว่าจะเสร็จ</th>

                                <th scope="col">วันที่เสร็จ</th>
                                <th scope="col">ใช้เวลาดำเนินการ (วัน)</th>
  
                                <th scope="col">สร้างเสร็จ แจ้งขาย</th>                                
                              </tr>                               
                    
                          </thead>
                          <tbody  *ngIf="itemRef && itemRef.data">
                            <tr class="text-center table-text-small tr-edit" (click)="edit()" *ngFor="let element of itemRef.data">
                                <td>{{element.odn_code}}</td>
                                <td>{{element.org_text}}</td>
                                <td>{{element.odn_added_date}}</td>
                                <td>{{element.odn_request_user_id}}</td>
                                <td>{{element.odn_place}}</td>
                                <td>{{element.province_name}}</td>
                                <td>{{element.odn_location}}</td>
                                <td>{{element.odn_sale_num}}</td>
                                <td>{{element.odn_sale_chance}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                          </tbody>
                      </table>
                </div>

            </div>
        </div>
        <!-- end // -->
    </div>
</main>

<app-footer></app-footer>