<app-header></app-header>

<div class="nav-scroller" style="text-align: right;">
    <div class="text text-secondary text-small"><small><i class="fa-regular fa-user"></i> {{loginUser.email}} <i class="fa-regular fa-circle-check"></i> {{loginUser.role}}</small></div>
</div>

<main class="container-fluid">
    <div class="p-3 bg-body-tertiary border">
        <!-- // -->
        <h5><strong>Home / งานขยาย</strong></h5>
        <div class="row">
            <div class="col-md-12 ">
                
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm table-striped">
                        <thead class="table-secondary">
                            <tr class="text-center">
                                <th colspan="8">Request งานขยาย โดย MKT</th>
                                <th colspan="2">Plan งานขยาย</th>
                                <th colspan="13">Progress</th>
                            </tr>                                                      
                            <tr class="text-center">
                              <th scope="col" rowspan="2">เลขที่บันทึก</th>
                              <th scope="col" rowspan="2">AIS/3BB</th>

                              <!-- <th scope="col" rowspan="2">วันที่บันทึก</th> -->
                              <th scope="col" rowspan="2">ผู้บันทึก</th>
                              <th scope="col" rowspan="2">สถานที่</th>
                              <th scope="col" rowspan="2">จังหวัด</th>
                              <th scope="col" rowspan="2">พิกัดจุดขยาย</th>
                              <th scope="col" rowspan="2">ขายได้</th>
                              <th scope="col" rowspan="2">โอกาศขาย</th>

                              <th scope="col" rowspan="2">Plan ระยะ OFC<br>(เมตร)</th>
                              <th scope="col" rowspan="2">ระยะคืนทุน<br>(เดือน)</th>

                              <th scope="col" colspan="2">บันทึกขออนุมัติ ODN</th>

                              <th scope="col" colspan="2">Verify</th>

                              <th scope="col" colspan="3">Approve</th>
                              <th scope="col" colspan="3">ดำเนินการสร้าง</th>

                              <th scope="col" rowspan="2">สร้างเสร็จ<br>แจ้งขาย</th>
                            </tr>   
                            <tr class="text-center">
                                <th scope="col">บันทึก ODN</th>
                                <th scope="col">เลขที่ ODN</th>
                                
                                 <!-- verify -->
                                <th scope="col">อนุมัติ/ไม่อนุมัติ</th>
                                <th scope="col">Verify โดย</th>
                                <!-- <th scope="col">วันที่</th> -->

                                <!-- Approve -->
                                <th scope="col">อนุมัติ/ไม่อนุมัติ</th>
                                <th scope="col">Approve โดย</th>
                                <!-- <th scope="col">วันที่บันทึก</th> -->
                                <th scope="col">วันที่คาดว่าจะเสร็จ</th>
  
                                <!-- ดำเนินการ -->
                                <th scope="col">วันที่เริ่ม</th>     
                                <th scope="col">วันที่เสร็จ</th>   
                                <th scope="col">ใช้เวลา (วัน)</th>      

                              </tr>                               
                              <!--  -->
                          </thead>
                          <div *ngIf="showTable; then showData else loading"></div>
                            <ng-template #loading>
                                <tbody>
                                    <tr>
                                        <td colspan="25"><i class="fa-solid fa-circle-notch fa-spin"></i> Loading...</td>
                                    </tr>
                                </tbody>
                            </ng-template>
                            <ng-template #showData>
                            <tbody  *ngIf="itemRef && itemRef.data">
                                <tr class="text-center table-text-small tr-edit " *ngFor="let element of itemRef.data" [ngClass]="{'table-success': (element.odn_build_close_job) }">
                                    <td (click)="edit(element.odn_id)">
                                        {{element.odn_code}}
                                        <br>
                                        <span class="badge bg-success" *ngIf="(element.status == 'finish')" >เสร็จสิ้น</span>
                                        <span class="badge bg-warning text-dark" *ngIf="(element.status == 'build')" >ดำเนินการสร้าง</span>
                                        <span class="badge bg-warning text-dark" *ngIf="(element.status == 'approve')" >Approved</span>
                                        <span class="badge bg-warning text-dark" *ngIf="(element.status == 'verify')" >Verified</span>
                                        <span class="badge bg-warning text-dark" *ngIf="(element.status == 'request_odn')" >ขออนุมัติ ODN</span>
                                        <span class="badge bg-warning text-dark" *ngIf="(element.status == 'plan')" >Plan งานขยาย</span>
                                        <span class="badge bg-warning text-dark" *ngIf="(element.status == 'start')" >บันทึกข้อมูล</span>
                                   
                                    </td>
                                    <td (click)="edit(element.odn_id)">{{element.org_text}}</td>
                                    <!-- <td (click)="edit(element.odn_id)"></td> -->
                                    <td (click)="edit(element.odn_id)">
                                        {{element.odn_request_user_id}}<br>
                                        {{element.odn_added_date | date:"dd/MM/yyyy"}}
                                    </td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_place}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.province_name}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_location}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_sale_num}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_sale_chance}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_plan_ofc_length}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_plan_payback_period}}</td>
                                    <td (click)="edit(element.odn_id)"></td>
                                    <td (click)="edit(element.odn_id)">
                                        {{element.odn_code_from_3bbodn}}<br>
                                        {{element.odn_plan_date | date:"dd/MM/yyyy"}}
                                    </td>

                                    <td (click)="edit(element.odn_id)">{{element.odn_verify_approve}}</td>
                                    <td (click)="edit(element.odn_id)">
                                        {{element.odn_verify_users_id}}<br>
                                        {{element.odn_verify_date | date:"dd/MM/yyyy"}}
                                    </td>
                                    <!-- <td (click)="edit(element.odn_id)"></td> -->

                                    <td (click)="edit(element.odn_id)">{{element.odn_approve_approve}}</td>
                                    <td (click)="edit(element.odn_id)">
                                        {{element.odn_approve_users_id}}<br>
                                        {{element.odn_approve_date | date:"dd/MM/yyyy"}}
                                    </td>
                                    <!-- <td (click)="edit(element.odn_id)"></td> -->
                                    <td (click)="edit(element.odn_id)">{{element.odn_approve_predict_date | date:"dd/MM/yyyy"}}</td>

                                    <td (click)="edit(element.odn_id)">{{element.odn_build_start_date}}</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_build_finish_date}}</td>
                                    <td (click)="edit(element.odn_id)">xxx</td>
                                    <td (click)="edit(element.odn_id)">{{element.odn_build_close_job | date:"dd/MM/yyyy"}}</td>
                                </tr>
                          </tbody>
                        </ng-template>
                      </table>
                      <div *ngIf="itemRef?.data.length > 0" >
                        <div class='small d-inline-block ps-1  title-font'>
                            {{ itemRef?.pageStart + 1 }} - {{ itemRef?.pageStart + itemRef?.data.length }} of {{ itemRef.count }}
                        </div>
    
                        <div class="d-inline-block ps-1">
                            <ul class="pagination pagination-sm">
                                <li class="page-item {{ itemRef?.pageStart == 0 ? 'disabled' : '' }}" >
                                    <a class="page-link"  href="javascript:void(0)" 
                                        (click)="pageEventChange(itemRef?.pageStart - itemRef?.pageLimit, itemRef?.pageLimit, itemRef?.search)" >                            
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item {{ itemRef?.pageStart + itemRef?.pageLimit >= itemRef.count ? 'disabled' : '' }}">
                                    <a class="page-link" 
                                        href="javascript:void(0)" 
                                        (click)="pageEventChange(itemRef?.pageStart + itemRef?.pageLimit, itemRef?.pageLimit, itemRef?.search)" >
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>							
                    </div>   
                </div>

            </div>
        </div>
        <!-- end // -->
    </div>
</main>




<!-- <ng-container *ngIf="foo === 1;else second"></ng-container>
<ng-template #second>
    <ng-container *ngIf="foo === 2;else third"></ng-container>
</ng-template>
<ng-template #third></ng-template> -->

<app-footer></app-footer>