form.user .form-control-user {
    // font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    // font-size: 1rem;
    // font-weight: 400;
    line-height: 1.5;
    // color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    // -webkit-print-color-adjust: exact;
    // color-adjust: exact;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 20;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.bg-login-image {
    // background: url(https://wallpaperset.com/w/full/b/1/b/4273.jpg);
    // background: url(/assets/wallpaper/protection-concept-with-lock2.jpg);
    // background: url(/assets/wallpaper/3bb_or1.jpg);
    // background-position: center;
    // background-size: cover;

    background-color: #fc8300;
}

.border-left-radius {
    border-top-left-radius: .50rem;
    border-bottom-left-radius: .50rem;
}

.border-right-radius {
    border-top-right-radius: .50rem;
    border-bottom-right-radius: .50rem;
}


  input.ng-touched.ng-valid {
    border: 2px solid #198754;
    color: #198754;
  }

  input.ng-touched.ng-invalid {
    border: 2px solid #dc3545;
    color: #ae2e3a;
  }

  input.ng-touched.ng-invalid {
    border: 2px solid #dc3545;
    color: #dc3545;
}

.bg-login-image2 {
    background: rgb(255,209,143);
    background: linear-gradient(0deg, rgba(255,209,143,1) 0%, rgba(233,248,238,1) 100%);
    Overflow: Hidden;
}