<div class="container">
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

    <div class="row justify-content-center  m-4">
        <div class="col-xl-10 col-lg-12 col-md-9"> 


            <div class="row my-5 shadow-lg bg-white border-left-radius border-right-radius">
                <div class="col-lg-6 p-0 border-left-radius bg-login-image2 text-center d-sm-block d-none"><img src="{{BASE_URL}}assets/wallpaper/ais-3bb.png" style="width: 350px; padding-top: 100px;"></div>
                <div class="col-lg-6">
                    <div class="p-5"  *ngIf="!isLogin">
                        <div class="text-center">
                            <img src="{{BASE_URL}}assets/wallpaper/ais-3bb.png" style="width: 100%;" class="pb-3 d-sm-none">
                            <h1 class="h4 text-gray-900 mb-4">Login เข้าสู่ระบบ</h1>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="user" novalidate>
                            <div class="form-group">
                                <input type="email" 
                                    class="form-control form-control-user" 
                                    placeholder="อีเมล์" 
                                    formControlName="users_usersname"
                                    [class.is-invalid]="(loginForm.get('users_usersname')?.invalid && (loginForm.get('users_usersname')?.dirty || loginForm.get('users_usersname')?.touched))"
                                >
                                <div *ngIf="(loginForm.get('users_usersname')?.invalid && (loginForm.get('users_usersname')?.dirty || loginForm.get('users_usersname')?.touched))">
                                    <small class="message-error m-3">ข้อมูลไม่ถูกต้อง</small>
                                </div>                                    
                            </div>
                            <div class="form-group">
                                <input type="password"
                                    class="form-control form-control-user" 
                                    placeholder="รหัสผ่าน" 
                                    formControlName="users_password"
                                    [class.is-invalid]="(loginForm.get('users_password')?.invalid && (loginForm.get('users_password')?.dirty || loginForm.get('users_password')?.touched))"
                                >
                                <div *ngIf="(loginForm.get('users_password')?.invalid && (loginForm.get('users_password')?.dirty || loginForm.get('users_password')?.touched))">
                                    <small class="message-error m-3">กรุณากรอกรหัสผ่าน</small>
                                </div>                                      
                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="">
                                    <label class="custom-control-label" for="">จดจำ</label>
                                </div>
                            </div> -->
                            <button type="submit" class="btn btn-primary btn-user btn-block mb-2" [disabled]="loginForm.invalid"> เข้าสู่ระบบ </button>
                            <div class="col-lg-6 mx-auto pt-2" style="max-width: 100%; text-align: center;"><div id="buttonDiv" style="max-width: 100%; text-align: center;"></div></div>
                            
                            <!-- <div id="google-btn" class="col-lg-7 mx-auto pt-2">
                                <asl-google-signin-button type='standard' size='large' text="signin_with" shape="pill"></asl-google-signin-button>
                            </div> -->
                            <!-- <div id="google-btn" class="bg-primary"></div> -->
                            <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> เข้าสู่ระบบด้วยบัญชี Google
                            </a> -->
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" [routerLink]="['/forgot-password']">ลืมรหัสผ่าน ?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" [routerLink]="['/register']">ลงทะเบียนขอใช้งานระบบ!</a>
                        </div>
                    </div>

                    <div class="p-5" *ngIf="isLogin">
                        <div class="text-center">
                            <img src="{{BASE_URL}}assets/wallpaper/ais-3bb.png" style="width: 100%;" class="pb-3 d-sm-none">
                            <h1 class="h4 text-gray-900 mb-4">ข้อมูลผู้ใช้งานระบบ</h1>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4 ">ชื่อ-นามสกุล</div>
                            <div class="col-md-8 "><strong>{{loginUser.name}}</strong></div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4 ">อีเมล์</div>
                            <div class="col-md-8 "><strong>{{loginUser.email}}</strong></div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4 ">ระดับ</div>
                            <div class="col-md-8 "><strong>{{loginUser.role}}</strong></div>
                        </div>         
                        <div class="row p-2">
                            <div class="col-md-4 ">ล๊อกอินเมื่อ</div>
                            <div class="col-md-8 "><strong>
                                <!-- {{isLoginDate | date: 'd/M/yy, h:mm a'}} -->
                            </strong></div>
                        </div>      
                        <!-- <div class="row p-2">
                            <div class="col-md-4 "></div>
                            <div class="col-md-8 "><button type="button" class="btn btn-secondary"><i class="fa-regular fa-user"></i> ข้อมูลส่วนตัว</button></div>
                        </div>   -->
                        <div class="row p-2">
                            <a href="/{{loginUser.email}}/dashboard" class="btn btn-primary btn-user btn-block mb-2">
                                Dashboard
                            </a>
                            <a (click)="logout()" class="btn btn-danger btn-user btn-block mb-2">
                                ออกจากระบบ
                            </a>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
