<app-header></app-header>

<div class="nav-scroller" style="text-align: right;">
    <div class="text text-secondary text-small"><small><i class="fa-regular fa-user"></i> {{loginUser.email}} <i class="fa-regular fa-circle-check"></i> {{loginUser.role}}</small></div>
</div>

<main class="container">
    <div class="p-3 bg-body-tertiary border">
        <!-- // -->
        <h5><strong>เลขที่บันทึก: </strong> <small class="text-secondary" >2566/071</small></h5>
        <div class="row">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col">
                        <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                            <div class="timeline-step-finish">
                                <div class="timeline-content-finish" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                    <div class="inner-circle"></div>
                                    <p class="mt-3 mb-1"><strong style="color:#107f6d">Request งานขยาย</strong></p>
                                    <p class="text-muted mb-0 mb-lg-0" ><small style="color:#107f6d">20/11/2023</small></p>
                                </div>
                            </div>
                            <div class="timeline-step">
                                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                                    <div class="inner-circle"></div>
                                    <p class="mt-3 mb-1"><strong style="color:#c0c0c0">Plan งานขยาย</strong></p>
                                    <p class="text-muted mb-0 mb-lg-0" ><small style="color:#c0c0c0">รอดำเนินการ</small></p>
                                </div>
                            </div>
                            <div class="timeline-step">
                                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                                    <div class="inner-circle"></div>
                                    <p class="mt-3 mb-1"><strong style="color:#c0c0c0">บันทึกขออนุมัติ ODN</strong></p>
                                    <p class="text-muted mb-0 mb-lg-0" ><small style="color:#c0c0c0">รอดำเนินการ</small></p>
                                </div>
                            </div>
                            <div class="timeline-step">
                                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                                    <div class="inner-circle"></div>
                                    <p class="mt-3 mb-1"><strong style="color:#c0c0c0">Verify</strong></p>
                                    <p class="text-muted mb-0 mb-lg-0" ><small style="color:#c0c0c0">รอดำเนินการ</small></p>
                                </div>
                            </div>
                            <div class="timeline-step mb-0">
                                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                                    <div class="inner-circle"></div>
                                    <p class="mt-3 mb-1"><strong style="color:#c0c0c0">Approve</strong></p>
                                    <p class="text-muted mb-0 mb-lg-0" ><small style="color:#c0c0c0">รอดำเนินการ</small></p>
                                </div>
                            </div>
                            <div class="timeline-step mb-0">
                                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                                    <div class="inner-circle"></div>
                                    <p class="mt-3 mb-1"><strong style="color:#c0c0c0">ดำเนินการสร้าง/สร้างเสร็จ</strong></p>
                                    <p class="text-muted mb-0 mb-lg-0" ><small style="color:#c0c0c0">รอดำเนินการ</small></p>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="mt-3 border-bottom"><strong>Request งานขยาย</strong></h6>
        <div class="row">
            <div class="col-md-12 ">
                
                xxxxx


            </div>
        </div>
        <h6 class="mt-3 border-bottom"><strong>Plan งานขยาย</strong></h6>
        <div class="row">
            <div class="col-md-12 ">
                
                xxxxx


            </div>
        </div>
        <!-- end // -->
    </div>
</main>

<app-footer></app-footer>