<app-header></app-header>

<div class="nav-scroller" style="text-align: right;">
    <div class="text text-secondary text-small"><small><i class="fa-regular fa-user"></i> {{loginUser.email}} <i class="fa-regular fa-circle-check"></i> {{loginUser.role}}</small></div>
</div>

<main class="container-fluid">
    <div class="p-3 bg-body-tertiary">
        <!-- // -->
        <h5><strong>เพิ่มข้อมูล / Request งานขยาย</strong></h5>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <!-- end // -->
    </div>
</main>

<app-footer></app-footer>