.nav-scroller {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .nav-scroller .text {
    padding-top: 1.4rem;
  }
  
  .table-text-small td {
    font-size: 12px;
  }
