<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
    <div class="row ps-3 pe-3 pt-3 pb-1">
        
            <!-- <form> -->
            <div class="col-md-6">

                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">ชื่อ</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm" placeholder="ชื่อ" formControlName="users_detail_firstname"
                        [class.is-invalid]="(form.get('users_detail_firstname')?.invalid && (form.get('users_detail_firstname')?.dirty || form.get('users_detail_firstname')?.touched))"
                        [class.is-valid]="(form.get('users_detail_firstname')?.valid && (form.get('users_detail_firstname')?.dirty || form.get('users_detail_firstname')?.touched))">
                        
                        <div *ngIf="form.get('users_detail_firstname')?.invalid && (form.get('users_detail_firstname')?.dirty || form.get('users_detail_firstname')?.touched)">
                            <small class="message-error m-2" *ngIf="form.get('users_detail_firstname')?.hasError('required')">ห้ามว่าง</small>
                            <small class="message-error m-2" *ngIf="form.get('users_detail_firstname')?.hasError('pattern')">รูปแบบข้อมูลไม่ถูกต้อง</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">นามสกุล</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm" placeholder="นามสกุล" formControlName="users_detail_lastname"
                    [class.is-invalid]="(form.get('users_detail_lastname')?.invalid && (form.get('users_detail_lastname')?.dirty || form.get('users_detail_lastname')?.touched))"
                    [class.is-valid]="(form.get('users_detail_lastname')?.valid && (form.get('users_detail_lastname')?.dirty || form.get('users_detail_lastname')?.touched))">
                    <div *ngIf="form.get('users_detail_lastname')?.invalid && (form.get('users_detail_lastname')?.dirty || form.get('users_detail_lastname')?.touched)">
                        <small class="message-error m-2" *ngIf="form.get('users_detail_lastname')?.hasError('pattern')">รูปแบบข้อมูลไม่ถูกต้อง</small>
                    </div>
                    </div>
                </div>

                <!-- <div class="row mb-3">
                    <label class="col-sm-4"></label>
                    <div class="col-sm-6">
                        <img src="/assets/profiles/non-profile.jpg" style="height: 120px;" class="img-thumbnail">
                    </div>
                </div>                
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">รูปภาพ</label>
                    <div class="col-sm-6">
                    <input type="file" class="form-control form-control-sm" placeholder="col-form-label-sm">
                    </div>
                </div> -->

                <div class="row">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">วันที่ลงทะเบียน</label>
                    <div class="col-sm-6"> <label for="colFormLabelSm" class="col-form-label-sm">{{userDetail.createDate | date: 'd/M/yy, h:mm a'}}</label></div>
                </div>         
                <div class="row">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-end">วันที่แก้ไขข้อมูลล่าสุด</label>
                    <div class="col-sm-6"> <label for="colFormLabelSm" class="col-form-label-sm">{{userDetail.updateDate | date: 'd/M/yy, h:mm a'}}</label></div>
                </div>                            
            </div>
            <div class="col-md-12 p-1">
                <label class="col-sm-2"></label>
                <input type="hidden" formControlName="users_detail_id">
                <button type="submit" class="btn btn-sm btn-primary ps-4 pe-4 ms-2" [disabled]="form.invalid">แก้ไข</button>
            </div>
       
    </div>
     </form>